[submodule "ChibiOS"]
	path = ChibiOS
	url = https://github.com/ChibiOS/ChibiOS
	branch = master
[submodule "ChibiOS-Contrib"]
	path = ChibiOS-Contrib
	url = https://github.com/ChibiOS/ChibiOS-Contrib
	branch = chibios-21.11.x
[submodule "lvgl"]
	path = lvgl
	url = https://github.com/dynfer/lvgl.git
	branch = pr-chibios
[submodule "h743bootloader"]
	path = h743bootloader
	url = https://github.com/dynfer/h7bootloader.git
	branch = h743